<sl-dialog label="Confirm Deletion" id="<%=id%>Dialog" style="visibility: hidden">
    <p>Are you sure you want to delete <strong><%=editor.getUsername()%></strong>?</p>
    <sl-button slot="footer" variant="primary" outline pill onclick="document.getElementById('<%=id%>Dialog').hide()">Cancel</sl-button>
    <sl-button slot="footer"
               variant="danger"
               pill
               class="delete-admin-btn"
               data-admin-id="{{ID}}"
               data-self="{{Self}}">
               </sl-button>
</sl-dialog>