:root {
    --sl-color-primary-50: var(--sl-color-blue-50);
    --sl-color-primary-100: var(--sl-color-blue-100);
    --sl-color-primary-200: var(--sl-color-blue-200);
    --sl-color-primary-300: var(--sl-color-blue-300);
    --sl-color-primary-400: var(--sl-color-blue-400);
    --sl-color-primary-500: var(--sl-color-blue-500);
    --sl-color-primary-600: var(--sl-color-blue-600);
    --sl-color-primary-700: var(--sl-color-blue-700);
    --sl-color-primary-800: var(--sl-color-blue-800);
    --sl-color-primary-900: var(--sl-color-blue-900);
    --sl-color-primary-950: var(--sl-color-blue-950);


    --sl-color-blue-50: rgb(249 249 254);
    --sl-color-blue-100: rgb(236 235 252);
    --sl-color-blue-200: rgb(221 219 250);
    --sl-color-blue-300: rgb(205 202 248);
    --sl-color-blue-400: rgb(183 179 244);
    --sl-color-blue-500: rgb(155 150 240);
    --sl-color-blue-600: rgb(124 117 236);
    --sl-color-blue-700: rgb(95 87 231);
    --sl-color-blue-800: rgb(73 65 213);
    --sl-color-blue-900: rgb(52 46 152);
    --sl-color-blue-950: rgb(33 29 94);


    --sl-color-secondary-50: rgb(251 248 254);
    --sl-color-secondary-100: rgb(240 233 253);
    --sl-color-secondary-200: rgb(229 216 251);
    --sl-color-secondary-300: rgb(217 198 250);
    --sl-color-secondary-400: rgb(201 173 248);
    --sl-color-secondary-500: rgb(179 140 245);
    --sl-color-secondary-600: rgb(154 103 241);
    --sl-color-secondary-700: rgb(130 67 238);
    --sl-color-secondary-800: rgb(108 51 207);
    --sl-color-secondary-900: rgb(77 36 148);
    --sl-color-secondary-950: rgb(48 23 92);

    --brand-primary: #4f46e5;
    --brand-secondary: #7c3aed;

    --bg-color: var(--sl-color-neutral-0);
    --bg-color-secondary: var(--sl-color-neutral-50);
    --label-color: var(--sl-color-neutral-200);
    --label-color-secondary: var(--sl-color-neutral-700);

    --card-color: var(--sl-color-neutral-0)
}